[package]
name = "metadata_god"
version = "0.0.0"
edition = "2021"

[lib]
crate-type = ["staticlib", "cdylib"]

[build-dependencies]
flutter_rust_bridge_codegen = "1.72.*"

[dependencies]
flutter_rust_bridge = "1.72.*"
