name: Build Dynamic Libraries
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          cd rust && cargo build --release
      - uses: actions/upload-artifact@v3
        with:
          name: RustLib
          path: rust/target/release/librust.so

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          cd rust && cargo build --release
      - uses: actions/upload-artifact@v3
        with:
          name: RustLib
          path: |
            rust/target/release/rust.dll
            rust/target/release/rust.lib

  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          cd rust && cargo build --release
      - uses: actions/upload-artifact@v3
        with:
          name: RustLib
          path: rust/target/release/librust.dylib
